<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
</head>

<body>
    <form method="POST" action="">
        <h2>Cadastrar</h2>
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="sobrenome" placeholder="Sobrenome">
        <input type="text" name="empresa" placeholder="Empresa">
        <input type="submit" value="Cadastrar">
    </form>

    <a href="/"><input type="button" value="Página inicial"></a>
</body>

</html>